<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="db.properties"/>
    <typeAliases >
        <package name="entity"/>
    </typeAliases>
    <environments default="devMysql">
        <environment id="devMysql">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${mysql.driver}"/>
                <property name="url" value="${mysql.url}"/>
                <property name="username" value="${mysql.username}"/>
                <property name="password" value="${mysql.password}"/>
            </dataSource>
        </environment>
    </environments>
    <databaseIdProvider type="DB_VENDOR">
        <property name="MySQL" value="mysql"/>
        <property name="Oracle" value="oracle"/>

    </databaseIdProvider>
    <mappers>
<!--        当sql在PeopleMapper.xml中就用下面（推荐使用）-->
<!--        <mapper resource="mapper/PeopleMapper.xml"/>-->
<!--        当使用注解时（sql不在PeopleMapper.xml）中就用下面-->
<!--        <mapper class="mapper.PeopleMapper"/>-->
        <package name="org.liuyu.mapper"/>
    </mappers>
</configuration>